footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  margin: 0 auto;
  margin-top: -60px;
  padding: 0 40px;
  color: rgba(102, 102, 102, 0.8);
  font-size: 14px;
  line-height: 25px;
}
